<% "Copyright (c) Robert Jones 2006" %>

<% for column in GenericReportElementDatum.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @generic_report_element_datum.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @generic_report_element_datum %> |
<%= link_to 'Back', :action => 'list' %>
