<%= @setlink.pupil.full_name %>.

Unexpectedly <%= @reason %>.

<%= @setlink.pupil_set.set_code %>.

Period <%= @period %> on <%= Time.now.strftime("%d %b %Y") %>

Notes: <%= @note %>


<%= @user.fullname %>
