<% "Copyright (c) Robert Jones 2006" %>

<% for column in InterimReportElement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @interim_report_element.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @interim_report_element %> |
<%= link_to 'Back', :action => 'list' %>
