<% "Copyright (c) Robert Jones 2006" %>

<% for column in Menu.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @menu.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @menu %> |
<%= link_to 'Back', :action => 'list' %>
