<h1>Editing lesson_plan</h1>

<%= form_tag :action => 'update', :id => @lesson_plan %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @lesson_plan %> |
<%= link_to 'Back', :action => 'list' %>
