<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'value_list' %>

<!--[form:value_list]-->
<p><label for="value_list_name">Name</label><br/>
<%= text_field 'value_list', 'name'  %></p>
<!--[eoform:value_list]-->

