<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'assessed_element_datum' %>

<!--[form:assessed_element_datum]-->
<p><label for="assessed_element_datum_element_value">Element value</label><br/>
<%= text_field 'assessed_element_datum', 'element_value'  %></p>
<!--[eoform:assessed_element_datum]-->

