<% "Copyright (c) Robert Jones 2006" %>

<h1>Editing assessed_element_datum</h1>

<%= form_tag :action => 'update', :id => @assessed_element_datum %>
  <%= render :partial=>"form" %>
  <%= submit_tag "Edit" %>
</form>

<%= link_to 'Show', :action => 'show', :id => @assessed_element_datum %> |
<%= link_to 'Back', :action => 'list' %>
