<% "Copyright (c) Robert Jones 2006" %>

<% for column in Motd.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @motd.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @motd %> |
<%= link_to 'Back', :action => 'list' %>
