<h1>Listing faculties</h1>
<p>Faculties represent subject groupings within schools.  Users (teachers) belong to faculties, and which faculty they 
belong to will determine which reports they see in historical report lists for pupils.</p>

<table>
  <tr>
  </tr>

<% for faculty in @faculties %>
  <tr>
  	<td> <%=faculty.name %></td>
    <td><%= link_to 'Show', faculty %></td>
    <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New faculty', new_faculty_path %>
