<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'group' %>

<!--[form:group]-->
<p><label for="group_name">Name</label><br/>
<%= text_field 'group', 'name'  %></p>

<p><label for="group_description">Description</label><br/>
<%= text_area 'group', 'description'  %></p>
<!--[eoform:group]-->

