<% "Copyright (c) Robert Jones 2006" %>

<% for column in GuidanceReport.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @guidance_report.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @guidance_report %> |
<%= link_to 'Back', :action => 'list' %>
