<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'report_comment' %>

<!--[form:report_comment]-->
<p><label for="report_comment_comment_text">Comment text</label><br/>
<%= text_area 'report_comment', 'comment_text'  %></p>

<p><label for="report_comment_comment_order">Comment order</label><br/>
<%= text_field 'report_comment', 'comment_order'  %></p>
<!--[eoform:report_comment]-->

