<% "Copyright (c) Robert Jones 2006" %>

<h1>Editing report_comment</h1>

<%= form_tag :action => 'update', :id => @report_comment %>
  <%= render :partial=>'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @report_comment %> |
<%= link_to 'Back', :action => 'list' %>
