<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'tracking_element_datum' %>

<!--[form:tracking_element_datum]-->
<p><label for="tracking_element_datum_value">Value</label><br/>
<%= text_field 'tracking_element_datum', 'value'  %></p>
<!--[eoform:tracking_element_datum]-->

