<%= error_messages_for 'gradebook_assessments' %>

<!--[form:gradebook_assessments]-->
<p><label for="gradebook_assessments_date">Date</label><br/>
<%= date_select 'gradebook_assessments', 'date'  %></p>

<p><label for="gradebook_assessments_name">Name</label><br/>
<%= text_field 'gradebook_assessments', 'name'  %></p>
<!--[eoform:gradebook_assessments]-->

