<% "Copyright (c) Robert Jones 2006" %>

<h1> Set Details </h1>
<p>
  <b>Set Code:</b> <%=h @pupil_set.set_code %>
</p>
<p>
  <b>Academic Year:</b> <%=h @pupil_set.academic_year.name %>
</p>
<p>
  <b>Course:</b> <%=h @pupil_set.course.description %>
</p>