<h2>Change User Password</h2>
<% if !@user %>
Please select a user:<%= form_tag %>
<%= user_selector %>
</form>
<% else %>

    Change password for <%= @user.fullname %>
    <%= error_messages_for 'user' %>
    <%= form_tag :action=>"admin_change_password" %>
      <%= render :partial=>'password', :user => @user, :admin=>true, :submit=>true %>
      <%=hidden_field_tag "destination", "admin_change_password"%>
      <%=hidden_field_tag "user_id", @user.id %>
    </form>
<% end %>