<% "Copyright (c) Robert Jones 2006" %>

<%= error_messages_for 'interim_report_element_datum' %>

<!--[form:interim_report_element_datum]-->
<p><label for="interim_report_element_datum_element_value">Element value</label><br/>
<%= text_field 'interim_report_element_datum', 'element_value'  %></p>
<!--[eoform:interim_report_element_datum]-->

