<% "Copyright (c) Robert Jones 2006" %>

<% for column in InterimReportElementDatum.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @interim_report_element_datum.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @interim_report_element_datum %> |
<%= link_to 'Back', :action => 'list' %>
