<li id="item_<%= element_item.id%>"><span class="handle"><%=image_tag("arrow_switch.png", :title=>"Drag elements to change order") %></span><input type="text" size="30" id="course_assessed_elements_<%=h element_item.id %>_element"  name="course[assessed_elements][<%=h element_item.id %>][element]" value="<%=h element_item.element%>" onChange="<%= remote_function(:complete => "new Effect.Highlight('item_"+element_item.id.to_s+"');", :url => { :action =>'edit_element_value_list', :id=>element_item.id }) %>"/>
     <select id="course_assessed_elements_<%=h element_item.id %>_value_list_id"  name="course[assessed_elements][<%=h element_item.id %>][value_list_id]" onChange="<%= remote_function(:complete => "new Effect.Highlight('item_"+element_item.id.to_s+"');", :url => { :action =>'edit_element_value_list', :id=>element_item.id }) %>">
  <option value=""> </option>
  <%= options_from_collection_for_select(ValueList.find(:all, :conditions=>"end_date is null"), "id", "name", element_item.value_list_id)  %></select><%= link_to_remote image_tag("cancel.png"), :update=>"assessed_elements_form", :url=>{:action=>"retire_assessed_element", :id=>@course.id, :element_id=>element_item.id}, :confirm=>"Are you sure you want to delete this element?" %></li>
