<fieldset>
	<div class="row">
		<!--[form:timetable_day]-->
<div class="form-element">
  <label for="timetable_day_name">Name</label>
  <%= text_field 'timetable_day', 'name' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="timetable_day_order">Order</label>
  <%= text_field 'timetable_day', 'order' , {:class=>"text-input"} %>
</div>

<!--[eoform:timetable_day]-->

	</div>
</fieldset>