<% "Copyright (c) Robert Jones 2006" %>

<h2>Report Summary for <%=h @pupil_set.set_code %></h2>
  <table border="1">
<% for header in @header_array %>
  <th><%=h header %></th>
<% end %>
</tr>
<% for row in @rows %>
  <tr>
    <% for cell in row %>
      <td>&nbsp;<%=h cell.to_s %>&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</tr></table>