<% "Copyright (c) Robert Jones 2006" %>

<html>
<head>
  <title>Printing Merits</title>
<%= stylesheet_link_tag 'print_merits', :media=>"all" %>
</head>
<body>
<%= @content_for_layout %>
</body>
</html>
